<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>
<body style="background-color: #8B0000;">
    <address>
        <h1 style="color: white; text-align: center; font-size: 50px; margin-top: 50px;">Contact Us</h1>
        <div style="color: white; font-size: 20px; margin-left: 500px; margin-top: 50px;">
            <p>Email: contact@restaurant.com</p>
            <p>Phone: +1234567890</p>
            <p>Address: 123 Main Street, City, Country</p>
        </div>
    </address>
    
</body>
</html>