<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #cover{
    margin: auto;
    width: 500px;
    height: 600px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    background-image: url(menu.avif) ;
    background-repeat: no-repeat;

}
    </style>
</head>
<body style="background-color: #8B0000 ;">
    <div id="cover">
    
    </div>
</body>
</html>
